---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

import jennifer from "/jennifer.png";
import jessicka from "/jessicka.png";
import lashane from "/lashane.png";
import michael from "/michael.png";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <Navbar />
  <main>
    <div class="soi-container" id="soi">
      <h2 class="heading text-center">Summer of Innovation Youth Camps</h2>
      <p class="mission-text blurb outline">
        During the summer of 2023 ACES and The Lorain Cooperative Ministry (9
        area churches) in collaboration with NASA and other service providers
        will host a Summer of Innovation (SOI) for Lorain County Youth in grades
        2nd – 7th during the period June 19 – August 10, 2023. <br /> The SOI program
        will be presented as eight (8) separate four (4) days per week (Mondays thru
        Thursdays) STE(A)M (Science, Technology, Engineering (Arts) and Math) focused
        journeys with each Thursday serving as a Music, Arts, or game day. Most activities
        will take place primarily at Greater Victory Church located at 559 Reid Avenue
        in Lorain. <br /> All camps will run from 11:00am - 3:00pm on Monday through
        Thursday (kids can be dropped off starting at 10:30am). Parents are responsible
        for transportation to and from the program daily unless permission has been
        provided for the child to walk to and from the program each day. Lunch and
        snacks will be provided daily at no cost to students or parents.
      </p>
      <p class="mission-text blurb outline">
        It is important that you only mark the weekly camps that your child WILL
        ATTEND. If you sign up for a given week and your child cannot attend
        that week you must call us at 440-654-8018, or we will assume your child
        is out for the remainder of the summer. Depending on availability, we
        will be attending movies and probably be swimming at Maude Nieding Park
        pool (if allowable) one day per week beginning with week 2. If we are
        allowed to swim your child will need to bring a bathing suit and towel
        on that day (hopefully Wednesdays) each week (also they must still wear
        gym shoes).
      </p>
      <p class="mission-text blurb outline">
        ACES and our collaborating partners intend to provide STE(A)M focused,
        exciting summer adventures to youth in 2nd - 7th grade and hope you are
        able to join us for this year’s FREE Summer of Innovation. Please call
        Mike Ferrer at 440-336-1501 if you have questions about our safety
        measures. We intend to continue masking while indoors, social
        distancing, engage in extensive hand washing, cleaning and disinfection
        of the facility on a daily basis.
      </p>
    </div>
    <div class="team-container" id="team">
      <h2 class="heading text-center">Meet the ACES Team</h2>
      <div class="team-cards-container">
        <div class="member-card">
          <img class="member-img" src={michael} alt="" />
          <div class="member-nametag">
            <h4>Michael Ferrer</h4>
            <span>Director</span>
          </div>
        </div>
        <div class="member-card">
          <img class="member-img" src={jessicka} alt="" />
          <div class="member-nametag">
            <h4>Jessicka Castro</h4>
            <span>Associate Director <br /> Lead Facilitator</span>
          </div>
        </div>
        <div class="member-card">
          <img class="member-img" src={jennifer} alt="" />
          <div class="member-nametag">
            <h4>Jennifer Sanabria</h4>
            <span>Mentor <br /> Facilitator</span>
          </div>
        </div>
        <div class="member-card">
          <img class="member-img" src={lashane} alt="" />
          <div class="member-nametag">
            <h4>Lashane Hughley</h4>
            <span>Mentor <br /> Facilitator</span>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="awards-container">
      <h1 class="big-heading text-center">
        Here's What Our Friends Say About Us:
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi
        commodi dicta molestias, ex laboriosam nihil iure molestiae amet at,
        repellat aspernatur illum facere. Doloremque explicabo veritatis nostrum
        eius. Fugit, totam. Laboriosam mollitia necessitatibus, aut itaque
        veniam voluptatibus ipsum. Cumque at voluptate nulla fugit error,
        cupiditate fugiat alias totam quidem enim delectus minus accusantium
        officiis ea repellat vitae sed placeat aperiam! Exercitationem
        repudiandae quis voluptates quas beatae ex asperiores nemo officia
        obcaecati praesentium itaque ut rerum commodi est in iusto, laudantium
        tempore nam aliquid
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi
        commodi dicta molestias, ex laboriosam nihil iure molestiae amet at,
        repellat aspernatur illum facere. Doloremque explicabo veritatis nostrum
        eius. Fugit, totam. Laboriosam mollitia necessitatibus, aut itaque
        veniam voluptatibus ipsum. Cumque at voluptate nulla fugit error,
        cupiditate fugiat alias totam quidem enim delectus minus accusantium
        officiis ea repellat vitae sed placeat aperiam! Exercitationem
        repudiandae quis voluptates quas beatae ex asperiores nemo officia
        obcaecati praesentium itaque ut rerum commodi est in iusto, laudantium
        tempore nam aliquid
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi
        commodi dicta molestias, ex laboriosam nihil iure molestiae amet at,
        repellat aspernatur illum facere. Doloremque explicabo veritatis nostrum
        eius. Fugit, totam. Laboriosam mollitia necessitatibus, aut itaque
        veniam voluptatibus ipsum. Cumque at voluptate nulla fugit error,
        cupiditate fugiat alias totam quidem enim delectus minus accusantium
        officiis ea repellat vitae sed placeat aperiam! Exercitationem
        repudiandae quis voluptates quas beatae ex asperiores nemo officia
        obcaecati praesentium itaque ut rerum commodi est in iusto, laudantium
        tempore nam aliquid
      </p>
    </div> -->
    <Footer />
    <style is:global>
      main {
      }
      .flex {
        display: flex;
        gap: var(--gap, 1rem);
      }
      body {
        overflow-x: hidden;
        background-color: #eee;
      }
      .text-center {
        text-align: center !important;
      }
      .outline {
        border: 2px solid var(--aces-blue-light);
        /* border-color: var(--aces-blue); */
      }
      .soi-container {
        padding-top: 2rem;
      }
      .mission-text {
        text-align: center;
        padding: 2rem 1rem;
        margin: 2rem 5%;
        /* background-color: #fff; */
        border-radius: 40px;

        /* width: 90%; */
      }
      .blurb {
        /* background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; */
        /* padding-bottom: 2rem; */
        font-size: 1.5rem;
      }
      .blurb > p {
        /* width: 80%; */
        /* padding: 0 20%; */
      }
      .team-header {
        font-size: 4rem;
        padding-left: 1rem;
      }
      .team-container {
        margin: 2rem auto 4rem;
        max-width: 90rem;
      }
      .team-cards-container {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        margin: 0 1rem;
      }
      .member-card {
        flex: 0 1 22%;
        width: 310px;
        /* min-height: 445px; */
        border: 2px solid var(--aces-blue-light);
        border-radius: 40px;
        overflow: hidden;
        background-color: #fff;
      }
      .member-img {
        width: 100%;
        /* margin-bottom: 1.5rem; */
        /* box-shadow: 5px 20px 15px hsla(0, 0%, 0%, 0.1); */
      }
      .member-nametag {
        text-align: center;
        padding: 7% 5%;
      }
      span {
        font-size: 1.2rem;
      }
      .showcase {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        /* padding: 2rem 20% 2rem; */
        background-color: var(--aces-blue-dark);
        overflow-y: hidden;
      }
      .showcase > img {
        width: 100%;
      }
      .heading {
        font-size: 2rem;
        padding: 2rem 0 2rem;
        margin: 0;
      }
      .big-heading {
        font-size: 2.5rem;
        padding: 3rem 0 3rem;
      }
      .awards-container {
        padding: 0 20% 2rem;
        background-color: var(--aces-blue);
      }
      .awards-container > p {
        font-size: 1.4rem;
        padding: 1.5rem;
        margin-bottom: 2rem;
        background-color: #fff;
        box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.1);
      }

      @media (max-width: 64em) {
        .team-cards-container {
          flex-wrap: wrap;
          justify-content: space-around;
          margin: 0 5%;
        }
        .member-card {
          flex: 0 1 40%;
          margin-bottom: 2rem;
        }
        span {
          font-size: 1rem;
        }
      }

      @media (max-width: 35em) {
        .team-header {
          padding: 0;
          text-align: center;
          font-size: 3rem;
        }
        .team-cards-container {
          flex-wrap: nowrap;
          flex-direction: column;
          align-items: center;
          /* margin: 0 1.25rem; */
        }
        .member-card {
          /* flex: 0 1; */
          /* padding-bottom: 2rem; */
        }
        /* .jessicka-dash {
          display: none;
        } */
        .blurb > p {
          padding: 2rem 5%;
        }
        .awards-container {
          padding: 0 5% 2rem;
        }
      }
    </style>
  </main>


</html>
