---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main></main>
</Layout>

<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
  }
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  main {
  }
  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }
  body {
    overflow-x: hidden;
  }
</style>
