---
import Navbar from "../components/Navbar.astro";
import Slideshow from "../components/Slideshow.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <Navbar />
  <main>
    <Slideshow />
    <div class="mission-container">
      <div class="mission-card">
        <h1 class="big-heading text-center">Our Mission</h1>
      </div>
      <div class="mission-statement">
        <p>
          <strong>ACES</strong> (Achievement thru Community Education & Support)
          is a fun-focused High School mentoring program operated by Mike Ferrer
          in collaboration with the LCSD, Nordson Corporation & the Community Foundation
          of Lorain County. ACES works with 9-12th grade LHS/Success Academy students
          who will be motivated to accept and successfully navigate a series of challenges
          assisting them in developing inherent skills to overcome barriers hindering
          educational, social, emotional and career growth. The program runs yearly
          from July 1st – June 30th.
        </p>
      </div>
    </div>
    <div class="awards-container">
      <h1 class="big-heading text-center">
        Here's What Our Friends Say About Us:
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi
        commodi dicta molestias, ex laboriosam nihil iure molestiae amet at,
        repellat aspernatur illum facere. Doloremque explicabo veritatis nostrum
        eius. Fugit, totam. Laboriosam mollitia necessitatibus, aut itaque
        veniam voluptatibus ipsum. Cumque at voluptate nulla fugit error,
        cupiditate fugiat alias totam quidem enim delectus minus accusantium
        officiis ea repellat vitae sed placeat aperiam! Exercitationem
        repudiandae quis voluptates quas beatae ex asperiores nemo officia
        obcaecati praesentium itaque ut rerum commodi est in iusto, laudantium
        tempore nam aliquid
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi
        commodi dicta molestias, ex laboriosam nihil iure molestiae amet at,
        repellat aspernatur illum facere. Doloremque explicabo veritatis nostrum
        eius. Fugit, totam. Laboriosam mollitia necessitatibus, aut itaque
        veniam voluptatibus ipsum. Cumque at voluptate nulla fugit error,
        cupiditate fugiat alias totam quidem enim delectus minus accusantium
        officiis ea repellat vitae sed placeat aperiam! Exercitationem
        repudiandae quis voluptates quas beatae ex asperiores nemo officia
        obcaecati praesentium itaque ut rerum commodi est in iusto, laudantium
        tempore nam aliquid
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi
        commodi dicta molestias, ex laboriosam nihil iure molestiae amet at,
        repellat aspernatur illum facere. Doloremque explicabo veritatis nostrum
        eius. Fugit, totam. Laboriosam mollitia necessitatibus, aut itaque
        veniam voluptatibus ipsum. Cumque at voluptate nulla fugit error,
        cupiditate fugiat alias totam quidem enim delectus minus accusantium
        officiis ea repellat vitae sed placeat aperiam! Exercitationem
        repudiandae quis voluptates quas beatae ex asperiores nemo officia
        obcaecati praesentium itaque ut rerum commodi est in iusto, laudantium
        tempore nam aliquid
      </p>
    </div>
  </main>
  <Footer />
  <style is:global>
    main {
    }
    .flex {
      display: flex;
      gap: var(--gap, 1rem);
    }
    body {
      overflow-x: hidden;
      /* background-color: var(--aces-blue-dark); */
    }
    .text-center {
      text-align: center !important;
    }
    .showcase {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      /* padding: 2rem 20% 2rem; */
      background-color: var(--aces-blue-dark);
      overflow-y: hidden;
    }
    .showcase > img {
      width: 100%;
    }
    .mission-container {
      display: flex;
      height: 33vh;
    }
    .mission-card {
      flex: 0 0 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 1rem;
      background-color: var(--aces-blue);
      color: #fff;
    }
    .blurb {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      /* padding-bottom: 2rem; */
    }
    .blurb > p {
      /* width: 80%; */
      padding: 0 20%;
      font-size: 1.8rem;
    }
    .heading {
      font-size: 1.5rem;
      padding: 2rem 0 2rem;
    }
    .big-heading {
      font-size: 2.5rem;
      padding: 3rem 0 3rem;
    }
    .awards-container {
      padding: 0 20% 2rem;
      background-color: var(--aces-blue);
    }
    .awards-container > p {
      font-size: 1.4rem;
      padding: 1.5rem;
      margin-bottom: 2rem;
      background-color: #fff;
      box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.1);
    }

    @media (max-width: 35em) {
      .blurb > p {
        padding: 2rem 5%;
      }
      .awards-container {
        padding: 0 5% 2rem;
      }
    }
  </style>


</html>
