---
import acesLogoWords from "../images/ACES-logo-transparent.png";
---

<footer>
  <div class="logo-container"><img src={acesLogoWords} alt="" /></div>
</footer>

<style>
  footer {
    background-color: var(--aces-blue-dark);
    height: 30vh;
  }
  .logo-container {
    padding: 1rem 2rem;
  }
  .logo-container > img {
    width: 30%;
  }
</style>
