---
import { Image } from "astro:assets";

import acesLogoWords from "../images/ACES-logo-transparent.png";
import fb from "../images/fb.png";
---

<footer>
  <div class="logo-container">
    <Image
      src={acesLogoWords}
      alt="ACES -- achievement through community education and support"
      class="logo"
    />
    <div class="contact-container">
      <a href="tel:440-336-1501"><strong> 440-336-1501</strong></a>
      <a href="mailto:mf777df@msn.com"><strong>Email Us</strong></a>
      <a
        href="https://www.facebook.com/groups/3624543660956415"
        target="_blank"
      >
        <Image src={fb} alt="facebook logo" class="fb-logo" />
      </a>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--aces-blue-dark);
    min-height: max-content;
  }
  strong,
  a {
    color: #fff;
  }
  a {
    padding: 0 0.75rem;
  }
  .logo-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo {
    margin: 0.5rem 2rem;
    width: 25%;
    height: auto;
  }
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .fb-logo {
    width: 2rem;
    height: auto;
  }
  @media (max-width: 35em) {
    .logo {
      width: 80%;
    }
  }
</style>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

  :root {
    --aces-blue-light: hsl(208, 56%, 80%);
    --aces-blue: hsl(208, 56%, 45%);
    --aces-blue-dark: hsl(208, 56%, 25%);
    --aces-blue-very-dark: hsl(208, 56%, 15%);
    --aces-blue-black: hsl(208, 56%, 5%);
  }
  * {
    box-sizing: border-box;
    margin: 0;
  }
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  body {
    /* font-family: "Manrope", sans-serif; */
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  .navbar {
    background-color: var(--aces-blue-dark);
  }
  .blue-fill {
    background-color: var(--aces-blue);
    color: #fff;
  }
  .content {
    position: absolute;
    max-height: 0;
    overflow: hidden;
  }
  .content.open {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: min-content;
    width: 11%;
    /* max-height: 9999px; */
    text-align: center;
    /* transform: translateY(0.3125rem); */
    animation: fadeIn cubic-bezier(0.22, 0.61, 0.36, 1) 2s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    /* margin-top: 12rem; */
    top: 7rem;
    transition: all 0.2s ease-out;
  }
  .content.open a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 0;
    width: 100%;
  }
  .content.open a:hover {
    background-color: #bebec5;
  }
</style>
