---
import volcano from "/volcano.jpg";
import flags from "/flags.jpg";
import fancy from "/fancy.jpeg";
import blackShirts from "/blackShirts.jpeg";
---

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .hidden-slide {
        opacity: 0.2;
        height: 85vh;
      }
      img {
        vertical-align: middle;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .slideshow-container {
        /* max-width: 80vw; */
        position: relative;
        margin: auto;
      }
      .dots-container {
        text-align: center;
        padding-top: 1rem;
      }
      /* The dots/bullets/indicators */
      .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active {
        background-color: #717171;
      }
      .fade {
        animation-name: fade;
        animation-duration: 11s;
      }
      @keyframes fade {
        0% {
          opacity: 0.2;
        }
        10% {
          opacity: 1;
        }
        85% {
          opacity: 1;
        }
        100% {
          opacity: 0.2;
        }
      }
    </style>
  </head>
  <body>
    <div class="slideshow-container">
      <div class="hidden-slide fade">
        <img src={volcano} />
      </div>

      <div class="hidden-slide fade">
        <img src={flags} />
      </div>

      <div class="hidden-slide fade">
        <img src={fancy} />
      </div>

      <div class="hidden-slide fade">
        <img src={blackShirts} />
      </div>
    </div>

    <div class="dots-container">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <script>
      let slideIndex = 0;
      showSlides();

      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("hidden-slide");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 8000); // Change image every 2 seconds
      }
    </script>
  </body>
</html>

<style></style>
